html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style:none;
}
a:link,a:active,a:visited{
    text-decoration:none;
    color:#fff;
}
a:hover{
    color:#0cf;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
h1{
    margin: 10px 0;
}

#main-header{
    border-bottom: solid 1px;
    padding: 5px;
    background:#000;
}
#main-header img{
    width: 22px;
    vertical-align:text-bottom;
}
.version{
    float:right;
    color:#888;
}
.header-ul{
    position:absolute;
    top:15px;
    right:0;
    background:#111;
}
.header-ul li{
    float:left;
    margin-right: 10px;
}
.header-slide{
    position:absolute;
    right: 314px;
    top: 31px;
    border-top:solid 11px #111;
    border-right:solid 25px #111;
    border-left:solid 25px transparent;
    border-bottom:solid 11px transparent;
}




