html,body{
    padding: 0;
    margin: 0;
    overflow: auto;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
a:link,a:active,a:visited{
    text-decoration:none;
    color:#fff;
}
a:hover{
    color:#0cf;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
h1{
    margin: 10px 0;
}

.main-wrapper{
    margin-top:35px;
}
#main-header{
    position: fixed;
    top:0;
    width: 99%;
    height:52px;
    min-width:900px;
    overflow:hidden;
    transition:all 0.5s;
}
#main-header img{
    width: 22px;
    vertical-align:text-bottom;
}
.version{
    float:right;
    color:#888;
}
.header-wrapper{
    padding: 5px;
    background:#000;
    overflow:hidden;
}
.header-ul{
    position: absolute;
    top: 14px;
    right: 0;
    margin-top: 16px;
    padding:0 25px;
    background: #111;
}
.header-ul li{
    float:left;
    margin-right: 10px;
}
.header-slide{
    position:absolute;
    right: 202px;
    top: 30px;
    border-top:solid 11px #111;
    border-right:solid 25px #111;
    border-left:solid 25px transparent;
    border-bottom:solid 11px transparent;
}




