body{
    position: relative;
    background:  #151112;
}

.header-nav{
    display:none;
}
.global-container{
    position: absolute;
    top: 50%;
    left:50%;
    height:660px;
    width: 900px;
    margin: -380px 0 0 -450px;
    overflow: hidden;
}
.title{
	width:900px;
	margin: 20% auto 10%;
	text-align:center;
	font-size: 48px;
	font-weight:bolder;
	color:#fff;
	letter-spacing: 5px;
}
.hank-name{
	color:#e10;
}
.bao-name{
	color:#0cf;
}
.nav{
	width:900px;
    padding: 0 50px;
	margin:0 auto;
}
.nav li{
	float:left;
    margin-right: 13%;
    width: 20%;
	height: 180px;
	border-radius:20px;
    background:#F7F5CE;
	text-align:center;
	cursor:pointer;
	font-size:36px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.nav li a{
    position:relative;
	display:block;
    padding-top: 10px;
	height:100%;
	width: 100%;
	color:#AE7BB3;
	font-weight:bold;
    overflow: hidden;
}
.font-wrapper{
    position: absolute;
    top:0;
    padding: 78px 64px 38px;
    font-size: 52px;
    color: #0cf;
    transition: all .5s ease;
}
.font-wrapper:hover{    
    transition: all .5s ease;
}

.tech .font-wrapper:hover{
    animation:rotating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes rotating {
    0% {transform-origin: 50% 111px ;transform:rotate(0);}
    12.5% {transform-origin: 50% 111px ;transform:rotate(45deg);}
    25% {transform-origin: 50% 111px ;transform:rotate(90deg);}
    37.5% {transform-origin: 50% 111px ;transform:rotate(135deg);}
    50% {transform-origin: 50% 111px ;transform:rotate(180deg);}
    62.5% {transform-origin: 50% 111px ;transform:rotate(225deg);}
    75% {transform-origin: 50% 111px ;transform:rotate(270deg);}
    87.5% {transform-origin: 50% 111px ;transform:rotate(315deg);}
    100% {transform-origin: 50% 111px ;transform:rotate(360deg);}
}
.life .font-wrapper:hover{
    transform:scale(1.2);
}
.me .font-wrapper:hover{
	transform: rotate(45deg);
    transform-origin: 50% 70%;
}
.links{
	width: 450px;
    margin: 80px auto 0;
    padding: 0 30%;
    font-size: 45px;
}
.links li{
	float:left;
	padding:10px;
	cursor:pointer;
    color: #fff;
    margin-right: 19%;
}
.links i:hover{
    color:#0cf;
}






