.main-wrapper{
    padding: 0 10px 10px 10px;
}
table{
    border-collapse: collapse;
    text-align: center;
}
thead td{
    background:#FFF4C6;
}
thead td:nth-child(1),thead td:nth-child(2){
    padding: 0 5px;
}
thead td,tbody td:first-child{
    border: #E2D49A solid;
}
tbody td:first-child{
    background:#FFF4C6;
}
tbody td:nth-child(3),tbody td:nth-child(4),tbody td:nth-child(5){
    text-align: left;
    padding: 10px;
}
tbody tr:nth-child(odd){
    background:#eee;
}

.table-limit{
    margin:20px 10px;
}
.page-select {
    float:left;
    margin-right:20px;
}
.page-select li{
    float:left;
    cursor:pointer;
}
.page-select li::selection{
    background: transparent;
}
.page-number-list li, .pre, .next{
    width: 25px;
    text-align: center;
    border: solid 1px;
    margin-right: 6px;
}
.page-number-list li:hover, .pre:hover, .next:hover, .page-number-list li.active{
    color:#fff;
    background:#000;
}
.page-number-list li.ellipse:hover{
    color:#000;
    background:#fff;
    cursor: default;
}
.pre, .next{
    width: 35px;
}